MISTRAL_API_KEY=API_KEY_HERE
ATHLETE_ID=INTERVALS_ATHLETE_ID_HERE
API_KEY=INTERVALS_API_KEY_HERE
DOWNLOAD_DIR=./training
NODE_ENV=development
GMAIL_APP_PASSWORD="GMAIL_APP_PASSWORD_HERE"
GMAIL_APP_USER="GMAIL_APP_USER_HERE"
DAYS_TO_ANALYZE=2